<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn && admin">
                <a class="nav-link" routerLink="/customers">Customers</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" routerLink="/prepaid-card">Prepaid Card</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="loggedIn">
                <a title="cart" class="nav-link" routerLink='/cart'><i class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item">
                <a title="Account" class="nav-link" routerLink='/account'><span class="fas fa-user"></span></a>
            </li>
        </ul>
    </div>
</nav>